<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th class="td-actions">Status</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td class="td-actions">
                <a href="javascript:;" class="btn btn-small btn-success">
                    <i class="btn-icon-only icon-ok"></i>
                </a>

                <a href="javascript:;" class="btn btn-small">
                    <i class="btn-icon-only icon-remove"></i>
                </a>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>