<div class="span6">
    <div class="widget stacked">
        <div class="widget-header">
            <i class="icon-star"></i>
            <h3>Quick Stats</h3>
        </div>
        <div class="widget-content">
            <div class="stats">

            </div>
            <div class="stats" id="chart-stats">

            </div>
        </div>
    </div>
    <div class="widget stacked">

        <div class="widget-header">
            <i class="icon-play"></i>
            <h3>Quick Run</h3>
        </div>

        <div class="widget-content">
            <div class="shortcuts">
                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-play"></i>
                    <span class="shortcut-label">Run BVT Suites</span>
                </a>

                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-play"></i>
                    <span class="shortcut-label">Run UAT Suites</span>
                </a>
                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-play"></i>
                    <span class="shortcut-label">Run All Suites</span>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="span6">
    <div class="widget stacked">
        <div class="widget-header">
            <i class="icon-bookmark"></i>
            <h3>Quick Shortcuts</h3>
        </div>
        <div class="widget-content">
            <div class="shortcuts">
                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-flag"></i>
                    <span class="shortcut-label">Jenkins</span>
                </a>

                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-flag"></i>
                    <span class="shortcut-label">GitHub</span>
                </a>

                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-signal"></i>
                    <span class="shortcut-label">Reports</span>
                </a>

                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-comment"></i>
                    <span class="shortcut-label">Comments</span>
                </a>

                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-user"></i>
                    <span class="shortcut-label">Users</span>
                </a>

                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-wrench"></i>
                    <span class="shortcut-label">Settings</span>
                </a>
            </div>
        </div>
    </div>
    <div class="widget stacked">

        <div class="widget-header">
            <i class="icon-signal"></i>
            <h3>Chart</h3>
        </div>

        <div class="widget-content">

        </div>

    </div>
</div>